#outer{
    height: 200px;
    width:70px;
    border:2px solid black;
}

.inner{
    height:50px;
    width:50px;
    border:2px solid black;
    margin:5px;
    padding-right: 10px;
    border-radius: 50%;
}

#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}

span{
    position: relative;
    top: -10px;
    left: 2px;
    background-color: white;
}